<h1>Create new tree</h1>
<p id="notice"><%= flash[:notice] %></p>
<%= form_for(@tree) do |f| %>
	<div class="field">
		<%= f.label :common_name %>
		<%= f.text_field :common_name %>
	</div>

	<div class="field">
		<%= f.label :latin_name %>
		<%= f.text_field :latin_name %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>

	<%= f.submit %>
<% end %>
