<!DOCTYPE html>
<html>
<head>
  <title>Identitree</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="side_menu">
		<%= render "shared/sidebar" %>
	</div>

	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
